body {
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1505506874110-6a7a69069a08?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#p-bio {
  color: aqua;
  width: 75%;
  margin: auto;
  padding-top: 10vh;
}

#header-div {
  display: flex;
  justify-content: center;
}

#h1Main {
  color: rgb(217, 250, 253);
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

img {
  height: 700px;
  width: auto;
  border: 5px solid white;
  margin-top: 10vh;
  justify-content: center;
}

p {
  color: azure;
}